<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<!-- 	  xmlns:th="http://www.thymeleaf.org" > -->
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>Intranet - Nat</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon1.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    
    <!-- Design fonts -->
<!--     <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">  -->
    
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">

    <!-- Animate styles for this template -->
    <link href="css/animate.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="css/colors.css" rel="stylesheet">

    <!-- Version Marketing CSS for this template -->
    <link href="css/version/marketing.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div id="wrapper">
        <header class="market-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="marketing-index.html"><img src="images/favicon1.png" alt=""></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Aceso Restricto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Informaciones Generales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contactenos</a>
                            </li>
                        </ul>
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="text" placeholder="Como te podemos ayudar?">
                            <button class="btn btn-outline-success my-2 my-sm-0 btn-dark" type="submit">Buscar</button>
                        </form>
                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->

        <section id="cta" class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 align-self-center">
                        <h2></h2>
                        <p class="lead">Inovación en java, DataMining , Consultoria y Servicios de Scoring</p>
                        <a href="#" class="btn btn-warning" >Saber más</a>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="newsletter-widget text-center align-self-center">
                            <h3>Tenés algo que hablar </h3>
                            <p>Escribí aca si tenés algo para decirnos</p>
                            <form class="form-inline" method="post">
                                <input type="mail" name="email" placeholder="tu mail" required class="form-control" />
                                <textarea required class="form-control" placeholder="tu mensaje, consejo o duda "></textarea>
                                <input type="submit" value="Enviar" class="btn btn-default btn-block" />
                            </form>         
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section lb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-custom-build">
                                <div class="blog-box wow fadeIn">
                                    <div class="post-media">
                                        <a href="https://www.youtube.com/watch?v=ltA-mIYyxhY" title="">
                                            <img src="upload/spring.png" alt="" class="img-fluid">
                                            <div class="hovereffect">
                                                <span></span>
                                            </div>
                                            <!-- end hover -->
                                        </a>
                                    </div>
                                    <!-- end media -->
                                    <div class="blog-meta big-meta text-center">
                                        <div class="post-sharing">
                                            <ul class="list-inline">
                                                <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                                <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                                <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div><!-- end post-sharing -->
                                        <h4><a href="https://www.youtube.com/watch?v=ltA-mIYyxhY" title="">Spring es novedad, es pasado y es futuro! #1</a></h4>
                                        <p>Queres conocer un poco mas sobre spring , tendencias de mercado y un poco mas para no quedarse atras? mirá esta intro al spring 
                                        y adelantese</p>
                                        <small><a href="marketing-category.html" title="">Tecnologia</a></small>
                                        <small><a href="marketing-single.html" title="">19 septembre, 2017</a></small>
                                        <small><a href="#" title="">by Lion</a></small>
                                        <small><a href="#" title=""><i class="fa fa-eye"></i> 192</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                                 <hr class="invis">
                                
                                  <div class="blog-box wow fadeIn">
                                    <div class="post-media">
                                        <a href="https://www.youtube.com/watch?v=RyvP-GYe19s" title="">
                                            <img src="upload/spring2.png" alt="" class="img-fluid">
                                            <div class="hovereffect">
                                                <span></span>
                                            </div>
                                            <!-- end hover -->
                                        </a>
                                    </div>
                                    <!-- end media -->
                                    <div class="blog-meta big-meta text-center">
                                        <div class="post-sharing">
                                            <ul class="list-inline">
                                                <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Comparta en Facebook</span></a></li>
                                                <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet en Twitter</span></a></li>
                                                <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div><!-- end post-sharing -->
                                        <h4><a href="https://www.youtube.com/watch?v=RyvP-GYe19s" title="">Spring es novedad, es pasado y es futuro! # 2</a></h4>
                                        <p>Queres conocer un poco mas sobre spring , tendencias de mercado y un poco mas para no quedarse atras? mirá esta intro al spring 
                                        y adelantese</p>
                                        <small><a href="marketing-category.html" title="">Tecnologia</a></small>
                                        <small><a href="marketing-single.html" title="">19 septembre, 2019</a></small>
                                        <small><a href="#" title="">by Lion</a></small>
                                        <small><a href="#" title=""><i class="fa fa-eye"></i> 12</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                            </div>
                        </div>
                        <hr class="invis">

                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">proximo</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">

                            <div id="" class="widget">
                                <h2 class="widget-title">Atención</h2>
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="upload/banner_03.jpg" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">ultimas fotos</h2>
                                <div class="instagram-wrapper clearfix">
                                    <a class="" href="#"><img src="upload/small_09.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/small_01.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/small_02.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/small_03.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/small_04.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/small_05.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/small_06.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/small_07.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/small_08.jpg" alt="" class="img-fluid"></a>
                                </div><!-- end Instagram wrapper -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                </div><!-- end row -->

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <br>
                        <div class="copyright"><img src="images/NAT.png" alt="">: <a href="http://natconsultores.com">HTML Design by lionCorp</a>.</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->

    <script type="text/javascript" th:src="@{js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{js/tether.min.js}"></script>
    <script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{js/animate.js}"></script>
    <script type="text/javascript" th:src="@{js/custom.js}"></script>


</body>
</html>